@import '_media.scss';

h1 , h2 , h3 , h4 , h5 , h6 {
	font-family: 'Poppins';
}
h1 {
	text-transform: uppercase;
	line-height: 63.46px;

	font-weight: 500;
	font-size: 24px;
}
h2 {
	text-transform: uppercase;
	line-height: 28px;

	font-weight: 500;
	font-size: 22px;
	font-family: 'Poppins';
}
h3 {
	text-transform: uppercase;

	font-weight: 500;
	font-size: 20px;
	font-family: 'Poppins';
}
h4 {
	line-height: 41px;

	font-weight: 500;
	font-size: 22px;
	font-family: 'Poppins';
}
h5 {
	line-height: 25px;

	font-weight: 500;
	font-size: 15px;
	font-family: 'Poppins';
}
h6 {
	text-transform: uppercase;

	font-weight: 500;
	font-size: 14px;
}
html {
	font-size: 16px;
}
body {
	height: 100%;

	color: #2a2a2a;
	font-size: 16px;
}
.wrapper {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	min-height: 100%;
}
.container {
	margin: 0 auto;
	width: 100vw;

	@include mdf3_1199 {
		padding: 0 20px;
	}
}

.hr-about {
	flex: none;
	margin: 10px;
	width: calc(100% -10px);
	height: 1px;
	background-color: #ccc;
}
.wrap {
	margin: 0 auto;
	max-width: 1140px;
}
/*---------- header ----------*/
.control-color {
	background-color: #434343;
}
.control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 54px;
}
.control-nav {
	display: flex;
}
.control-nav__block {
	position: relative;
	padding-left: 28px;
}
.control-nav__block:first-child {
	padding-left: 0;
}
.control-nav__block a {
	line-height: 42px;

	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
.control-nav__block:after {
	position: absolute;
	top: 50%;
	left: 100%;
	display: block;
	margin-left: 14px;
	width: 1px;
	height: 21px;
	background-color: #e1e1e1;
	content: '';
	transform: translateY(-50%);
}
.control-nav__block:last-child:after {
	display: none;
}
.control-nav__text {
	padding-right: 7px;
}
.control-nav__arrow {
	text-transform: uppercase;
	line-height: 74px;

	color: #fff;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
/*---------------*/
.control-login {
	display: flex;
}
.control-login__block {
	margin-left: 34px;
}
.control-login__block:first-child {
	margin-left: 0;
}
.control-login__awesome {
	line-height: 42px;

	color: #fff;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.control-login__text {
	padding-left: 9px;
	line-height: 42px;

	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
/*---------------*/
.brand-color {
	background-color: #363636;
}
.brand-wrapper {
	height: 145px;
}
.brand {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.phone {
	display: flex;
	flex: 0 1 auto;
}
.phone__img {
	line-height: 42px;

	color: #d58e32;
	font-weight: 500;
	font-size: 44px;
	font-family: 'FontAwesome';
}
.phone__number {
	padding-left: 13px;
	line-height: 42px;

	color: #d8d8d8;
	font-weight: 500;
	font-size: 17px;
	font-family: 'Poppins';

	@include mdf5_599 {
		font-size: .8rem;
	}
}
.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	flex: 1 1 auto;
	transform: translate(-50%, -50%);
}
.logo__link {
	overflow: hidden;
	width: 165px;
	height: 77px;
	background-size: cover;
}
.logo__link img {
	height: 100%;
}
/*-------cart--------*/
.cart-wrap {
	flex: 0 1 73px;
}
.cart {
	position: relative;
	width: 51px;
	height: 49px;
	border-radius: 3px;
	background-color: #d58e32;
	text-align: center;
}
.cart__img {
	padding-top: 3px;
	line-height: 42px;

	color: #fff;
	font-weight: 500;
	font-size: 20px;
	font-family: 'FontAwesome';
}
.cart__total {
	/*----view----*/
	position: absolute;
	right: -21px;
	bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background-color: #363636;
	line-height: 42px;

	color: #e0e3ed;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
/*---------- navigation ----------*/
.navigation-wrapper {
	width: 100%;
	background-color: #fff;
}
.navigation {
	display: flex;
	height: 100%;

	@include mdf4_899 {
		align-items: space-between;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
	}
	@include mdf5_599 {
		flex-wrap: wrap;
	}
}
.search {
	display: flex;
	align-items: center;
	flex: 1 0 40%;
	height: 94px;

	@include mdf3_1199 {
		flex: 0 1 40%;
	}
	@include mdf4_899 {
		display: none;
		height: 60px;
	}
	@include mdf5_599 {
		flex: 0 1 100%;
	}
}
.select-category {
	display: flex;
	align-items: center;
	flex: 1 0 212px;
	justify-content: space-around;
	height: 47px;
	border: 1px solid #454545;

	@include mdf3_1199 {
		flex: 1 0 auto;
		padding: 0 10px;
	}
	@include mdf4_899 {
		flex: 0 1 200px;
		width: 0px;
	}
	@include mdf5_599 {
		flex: 1 0 90px;
	}
}
.gamburger {
	display: block;
	margin: 0 5px;
	width: 40px;
	line-height: 42px;

	color: #d58e32;
	font-weight: 500;
	font-size: 22px;
	font-family: 'FontAwesome';

	@include mdf4_899 {
		font-size: 26px;
	}
}
.select__text {
	white-space: nowrap;
	line-height: 42px;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;

	@include mdf3_1199 {
		display: none;
	}
}
.select__arrow {
	margin-right: 5px;
	text-transform: uppercase;
	line-height: 74px;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
/*---------------*/
.search-field {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	height: 47px;
	border: 1px solid #454545;
	border-left: none;

	@include mdf4_899 {
		flex: 1 0 auto;
	}
	@include mdf3_1199 {
		flex: 2 1 auto;
	}
	@include mdf5_599 {
		flex: 1 0 auto;
	}
}
.search-form {
	width: 100%;
	height: 100%;
}
.form__text {
	margin-left: 13px;
	width: calc(100% - 50px);
	border: none;
	line-height: 42px;

	color: #a4a4a4;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;

	@include mdf5_599 {
		display: none;
	}
}
.form__submit {
	z-index: 2;
	width: 40px;
	height: 40px;
	border: none;
	border: none;
	background-color: inherit;
	text-indent: -9999px;
	cursor: pointer;
}
.search__ico {
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 1;
	transition: all .3s linear;
	transform: translateY(-50%);

	color: #2a2a2a;
	font-size: 24px;
	font-family: 'FontAwesome';

	@include mdf5_599 {
		top: 50%;
		right: -5px;
		transform: translate(-50%, -50%);

		font-size: 28px;
	}
}
.search-form:hover .search__ico {
	color: #d58e32;
}
/*---------------*/
.nav-link {
	display: flex;
	align-items: center;
	flex: 1 0 60%;

	@include mdf2_1799 {
		padding-left: 20px;
	}
	@include mdf3_1199 {
		flex: 1 0 60%;
		margin-left: 30px;
	}
	@include mdf4_899 {
		flex: 1 0 auto;
	}
	@include mdf5_599 {
		flex: 1 0 50%;
		height: 60px;
	}
}
.nav-link-list {
	display: flex;
	flex: 1 0 100%;
	justify-content: flex-end;
	list-style: none;

	@include mdf4_899 {
		justify-content: center;
	}
	@include mdf5_599 {
		justify-content: center;
	}
}
.link__item a {
	display: block;
	padding: 36px 20px;
	height: 94px;
	border-top: 4px solid rgba(42, 42, 42, 0);
	background-color: #fff;
	/*----view----*/

	color: #2a2a2a;

	@include mdf3_1199 {
		padding: 38px 17px;
	}
	@include mdf4_899 {
		padding: 20px 17px;
		height: 60px;
	}
}
.link__item a:hover , .link__item.active a {
	border-top: 4px solid #2a2a2a;
	background-color: #d58e32;

	color: #fff;
}
/*---------- breadcrumbs ----------*/
.breadcrumbs-wrapper {
	// width: 100%;
	// height: 94px;
	background-color: #808080;
}
.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 94px;
}
.categorie {
	color: #dedede;
}
.bread-nav-list {
	display: flex;
	list-style: none;
}
.bread-nav__item a {
	color: #dedede;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
.bread-nav__item:after {
	padding: 4px 15px 0;
	content: '>';

	color: #dedede;
	font-weight: 500;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
.bread-nav__item:last-child:after {
	display: none;
}
/*---------- product ----------*/
.product {
	position: relative;
}
.grey-wrap {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 246px;
	background-color: #808080;
}
.product-body {
	display: flex;
	max-height: 670px;
	width: 100%;
	border: 1px solid #c2c2c2;
	background-color: #fff;
}
.product-pictures {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	padding: 20px 10px auto 20px;
	max-width: 436px;
	max-height: 635px;
	width: 43.6vw;
}
.pictures-main {
	position: relative;
	width: 100%;
	height: 51.4vw;
	background-color: #f4f5f7;
	text-align: center;
}
.pictures-main img {
	height: 100%;
}
.pictures-main-resize {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding-top: 9px;
	width: 38px;
	height: 37px;
	border: 1px solid #2a2a2a;
	text-transform: uppercase;
	/*----view----*/

	color: #2a2a2a;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.pictures-main-resize:hover {
	border: 1px solid rgba(42, 42, 42, 0);
	background-color: #d58e32;

	color: #fff;
}
/*---------------*/
.product-pictures-small {
	position: relative;
	margin-top: 14px !important;
	padding: 0 14px !important;
	max-height: 107px;
	width: 100%;
	height: 10.7vw;
}
.item-block {
	margin: 0 auto;
	max-height: 104px;
	width: 89px;
	height: calc(10.7vw - 2px);
	background-color: #f4f5f7;
	text-align: center;
}
/*---------------*/
.arrow-left-position {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 10;
	transform: translateY(-50%);
}
.arrow-right-position {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 10;
	transform: translateY(-50%);
}
.arrow-left-view {
	padding-top: 3px;
	padding-right: 2px;
	width: 30px;
	height: 30px;
	border: 1px solid #2a2a2a;
	text-align: center;
	text-transform: uppercase;
	transition: all .3s linear;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 20px;
	font-family: 'FontAwesome';
}
.arrow-right-view {
	padding-top: 3px;
	padding-right: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #2a2a2a;
	text-align: center;
	text-transform: uppercase;
	transition: all .3s linear;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 20px;
	font-family: 'FontAwesome';
}
.arrow-left-view:hover , .arrow-right-view:hover {
	border: 1px solid rgba(42, 42, 42, 0);
	background-color: #d58e32;

	color: #fff;
}
/*---------- about ----------*/
.product-about {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 20px;
	max-height: 635px;
	width: calc(56.4vw - 22px);
	height: 63.5vw;
}
.wrap-flex {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	width: 100%;
}
.product-name {
	display: flex;
	flex: none;
	width: 100%;
}
.product-name-box {
	margin-right: auto;
}
.product-rating {
	display: flex;
	align-items: center;
}
.product__title span {
	margin-right: auto;
	line-height: 41px;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 24px;
	font-family: 'Poppins';
}
.rating-stars {
	letter-spacing: 1.92px;
	line-height: 2;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.no {
	margin-left: 1px;

	color: #afafaf;
}
.reviews-block {
	margin-left: 13px;
}
.reviews {
	display: inline-block;
	padding-top: 1px;

	color: #676767;
	font-weight: 500;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}
.hv {
	margin-left: 13px;
	width: 1px;
	height: 14px;
	background-color: #ccc;
}
.rating-add {
	margin-left: 13px;
	line-height: 30px;

	color: #676767;
	font-weight: 500;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}
/*---------------*/
.product-name-arrows {
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
	width: 66px;
}
/*------- about price --------*/
.price {
	display: flex;
	align-items: center;
	flex: none;
	margin: 3px 0;
}
.price-old span {
	line-height: 52.71px;

	color: #939393;
	font-weight: 300;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
.price-new {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 11px;
	width: 104px;
	height: 36px;
	background-color: #2a2a2a;
}
.price-new span {
	line-height: 52.71px;

	color: #fff;
	font-weight: 500;
	font-size: 22px;
	font-family: 'Poppins';
}
/*------- add cart --------*/
.about-cart {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.cart-add {
	display: flex;
	margin-bottom: 10px;
}
.add-cart-btn {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 134px;
	height: 37px;
	background-color: #d58e32;
}
.cart-ico {
	padding-bottom: 2px;

	color: #fff;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.add-btn-text {
	text-transform: uppercase;
	line-height: 42px;

	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins';
}
.btn-37 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 7px;
	padding-bottom: 2px;
	width: 37px;
	height: 37px;
	border: 1px solid #2a2a2a;
	text-transform: uppercase;
	transition: all .3s linear;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
/*------- cart-quantity --------*/
.cart-quantity {
	display: flex;
	align-items: center;
	margin-top: auto;
}
.cart-quantity span {
	color: #2a2a2a;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.quantity-total {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 32px;
	padding-bottom: 2px;
	width: 73px;
	height: 37px;
	border: 1px solid #2a2a2a;
}
.quantity-total span {
	color: #2a2a2a;
	font-weight: 500;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
.btn-37:hover {
	border: 1px solid #d58e32;

	color: #d58e32;
}
.quantity-plus , .quantity-minus {
	padding-top: 2px;

	font-size: 12px;
}
/*------- overview --------*/
.overview {
	flex: 4 1 auto;
	margin: 5px 0 0;
	p {
		overflow: hidden;
		max-width: 100%;
	}
}
.overview span {
	color: #2a2a2a;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Poppins';
}
.overview p {
	margin-top: 12px;
	width: 570px;
	line-height: 25px;

	color: #676767;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
/*------- availability category --------*/
.category {
	display: flex;
	margin: 12px 0 12px;
	height: 45px;
}
.category-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*----view----*/

	color: #2a2a2a;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.category-total {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 13px;
	/*----view----*/

	color: #676767;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
/*---------- social ----------*/
.social {
	display: flex;
}
.social-btn {
	display: flex;
	align-items: center;
	flex: 1 2 auto;
	justify-content: center;
	margin-right: 10px;
	height: 40px;
	border: 1px solid #2a2a2a;
}
.social-text {
	padding-left: 5px;

	color: #888;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
.facebook {
	color: #03c;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.tweet {
	color: #4099ff;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.pin {
	color: #c92228;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.linkedin {
	color: #0077b5;
	font-size: 16px;
	font-family: 'FontAwesome';
}
/*---------- description ----------*/
.description {
	margin-top: 60px;
	height: 460px;
	border: 1px solid #c2c2c2;
	background-color: #fff;
}
.description-bar {
	display: flex;
	margin-bottom: -1px;
	border-bottom: 1px solid #c2c2c2;
}
.description-bar__item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -1px;
	padding-top: 2px;
	width: 154px;
	height: 53px;
	border-right: 1px solid #c2c2c2;
	// border-bottom: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	background-color: #fff;
	text-transform: uppercase;
	transition: all .2s linear;
	/*----view----*/

	color: #2a2a2a;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Poppins';
}
.description-bar__item:hover {
	color: #d58e32;
}
.description-bar__item.active {
	border-bottom: 1px solid rgba(194, 194, 194, 0);

	color: #d58e32;
}
/*---------------*/
.review-block {
	width: 100%;
	height: 100%;
}
.hidden {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}
.review__item {
	display: flex;
	visibility: visible;
	align-items: flex-start;
	flex-direction: column;
	margin: 31px 0 0 37px;
	opacity: 1;
	transition: opacity 1000ms;
	span {
		color: #676767;
		font-weight: 500;
		font-size: 14px;
		font-family: 'Poppins', sans-serif;
	}
	&.hidden {
		opacity: 0;
	}
}
.review__add {
	display: block;
	margin: 27px 0 30px 0;

	color: #454545;
	font-weight: 500;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
.review-rating {
	display: flex;
	margin-top: 21px;
}
.review__stars {
	margin: 0 20px;

	color: #d58e32;
	font-size: 16px;
	font-family: 'FontAwesome';
}
/*---------------*/
.review-form {
	display: flex;
	flex-direction: column;
	margin-top: 29px;
}
.textarea {
	padding: 10px;
	width: 1060px;
	height: 99px;
	border: 1px solid #c2c2c2;
	resize: none;

	color: #676767;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
/*---------------*/
.textarea.err {
	border: 1px solid red;
}
.review__name .input.err {
	border: 1px solid red;
}

.review__email .input.err {
	border: 1px solid red;
}

.review-publish {
	display: flex;
	margin-top: 17px;
	width: 1060px;
	height: 52px;
}
.review-field {
	margin-right: 18px;
	margin-bottom: 15px;
	padding-left: 13px;
	width: 446px;
	height: 51px;	/*----view----*/
	border: 1px solid #c2c2c2;
	line-height: 24px;

	color: #676767;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.review-btn {
	width: 132px;
	height: 50px;
	border: none;
	border: none;
	background-color: #2a2a2a;
	text-transform: uppercase;
	cursor: pointer;
	/*----view----*/

	color: #fff;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins';
}
/*---------- section new ----------*/
.new {
	margin-top: 60px;
	width: 1141px;
	height: 530px;
}
.new-hr {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.hr-grey {
	width: 1050px;
	height: 3px;
	background-color: #e2e2e2;
}
.hr-black {
	width: 44px;
	height: 3px;
	background-color: #2a2a2a;
}
.dots {
	display: flex;
	margin-left: 26px;
}
.dot-black {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #2a2a2a;
}
.dot-grey {
	margin-left: 13px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #e2e2e2;
}
/*---------- new block ----------*/
.new-block {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	height: 470px;
}
.new-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 262px;
}
.new-item__img {
	position: relative;
	width: 262px;
	height: 260px;
	background-color: #f4f5f7;
}
.sale {
	position: absolute;
	right: 50%;
	padding-top: 3px;
	width: 43px;
	height: 21px;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	background-color: #2a2a2a;
	text-align: center;
	transform: translateX(50%);
	/*----view----*/

	color: #fff;
	font-weight: 500;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}
/*---------------*/
.view-add-block {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.quick-view-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2px;
	width: 87px;
	height: 37px;
	background-color: #2a2a2a;
	/*----view----*/

	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}
.new-add-cart-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 132px;
	height: 37px;
	background-color: #2a2a2a;
	text-transform: uppercase;
	/*----view----*/

	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Poppins';
}
.cart-ico {
	padding-right: 8px;

	font-size: 14px;
	font-family: 'FontAwesome';
}
/*---------------*/
.new-item-price-block {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 262px;
	height: 150px;
	border: 1px solid #efefef;
	border-top: none;
}
.new-item__title {
	padding-top: 16px;

	color: #d58e32;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Poppins';
}
.stars {
	padding-top: 11px;
}
.star__full {
	letter-spacing: 1.92px;

	color: #2a2a2a;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.star__empty {
	margin-left: -3px;
	letter-spacing: 1.92px;

	color: #afafaf;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
.hr-new {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: 240px;
	height: 1px;
	background-color: #2a2a2a;
}
.hr-orang {
	width: 30px;
	height: 4px;
	background-color: #d58e32;
}
.new-btn-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px 11px 0;
	width: 100%;
}
.new-like-next-btn {
	display: flex;
}
.new-like-next-btn .btn-37 {
	margin: 0;
	margin-right: 5px;
	padding-top: 2px;
}
.new-price {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d58e32;
}
.new-price__total {
	padding: 11px 9px;

	color: #fff;
	font-weight: 500;
	font-size: 18px;
	font-family: 'Poppins';
}
/*---------- section newsletter ----------*/
.newsletter {
	/*width: 1920px;*/
	height: 119px;
	background-color: #f2f2f2;
}
.newsletter-block {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.news-title {
	padding-top: 5px;
	text-transform: uppercase;

	color: #d58e32;
	font-weight: 500;
	font-size: 22px;
	font-family: 'Poppins';
}
.form-field-email {
	position: relative;
	margin-right: 20px;
	margin-left: 52px;
}
.email-field-tabs {
	position: absolute;
	top: 50%;
	left: 14px;
	display: flex;
	transform: translateY(-50%);
}
.email-ico {
	color: #d58e32;
	font-weight: 500;
	font-size: 18px;
	font-family: 'FontAwesome';
}
.email-hv {
	margin-left: 15px;
	width: 1px;
	height: 18px;
	background-color: #bfbfbf;
}
.email__text-field {
	padding-left: 60px;
	width: 486px;
	height: 46px;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	/*----view----*/

	color: #b4b4b4;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
/*---------------*/
.email-submit-btn {
	width: 46px;
	height: 46px;
	border: none;
	border-radius: 5px;
	background-color: #fff;

	color: #d58e32;
	font-weight: 500;
	font-size: 16px;
	font-family: 'FontAwesome';
}
/*---------- footer-block ----------*/
.footer {
	width: 100%;
	height: 334px;
	background-color: #363636;
}
.footer-block {
	position: relative;
	display: flex;
	height: 100%;
}
.footer-item-block {
	margin-left: 140px;
	padding-top: 62px;
}
.footer-item-block:first-child {
	margin-left: 0;
}
.footer-item__title {
	text-transform: uppercase;
	line-height: 30px;

	color: #fff;
	font-weight: 500;
	font-size: 22px;
	font-family: 'Poppins';
}
.footer-link {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.footer-link__item {
	line-height: 30px;

	color: #a9a9a9;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.payment {
	position: absolute;
	right: 22px;
	bottom: 40px;
}
/*---------- section copyright ----------*/
.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 95px;
	background-color: #2a2a2a;
}
.copyright-block {
	display: flex;
	align-items: baseline;
}
.copyright-text {
	margin-right: 217px;

	color: #a9a9a9;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.footer-social__link {
	padding-right: 16px;

	color: #a1a1a1;
	font-weight: 500;
	font-size: 18px;
	font-family: 'FontAwesome';
}
.footer-social__link:hover {
	color: #d58e32;
}

@import '_label_media.scss';
